.card {
}

.card-wrapper {
	position: relative;
	display: inline-block;
}

.card-wrapper_image {
	height: 200px;
	width: 200px;
}

.card__like {
	background-image: url("../../images/like.png");
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 15%;
	height: 15%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.like {
	opacity: 0.8;
}

.unlike {
	opacity: 0.3;
}

.hidden-card {
	display: none;
}
