.history {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.history-title {
	margin-bottom: 30px;
}

.history-header {
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	font-size: 20px;
}

.history-header__item {
	flex-grow: 1;
	width: 25%;
}

.theme-bisque {
	background: rgba(255, 228, 196, 0.7);
}

.theme-white {
	background: rgba(255, 255, 255, 0.7);
}

.theme-skyblue {
	background: rgba(135, 206, 235, 0.7);
}
