.header {
	height: 150px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header-title {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.header-title__link {
	margin-top: 50px;
	margin-bottom: 50px;
}

.header-user {
	display: flex;
	justify-content: space-evenly;
	width: 40%;
}

.header-user__login {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.header-user__link {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
